In [35]:
import pandas as pd
import numpy as np
import tensorflow as tf

### Importing Dataset

In [36]:
df = pd.read_csv('Churn_Modelling.csv')

In [37]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [38]:
X = df.drop(['RowNumber','CustomerId','Surname','Exited'],axis=1)
y = df.Exited

In [39]:
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [40]:
print(y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

### Encoding Categorical Data

In [41]:
categorical_cols = [col for col in X.columns if X[col].dtype == 'object']
print(categorical_cols)

['Geography', 'Gender']

#### Label Encoding 'Gender' Column

In [42]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

In [43]:
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France       0   42       2       0.00              1
1             608     Spain       0   41       1   83807.86              1
2             502    France       0   42       8  159660.80              3
3             699    France       0   39       1       0.00              2
4             850     Spain       0   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France       1   39       5       0.00              2
9996          516    France       1   35      10   57369.61              1
9997          709    France       0   36       7       0.00              1
9998          772   Germany       1   42       3   75075.31              2
9999          792    France       0   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

#### One Hot Encoding 'Geography' Column

In [44]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), ['Geography'])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [47]:
print(X[0])
print(X[1])

[1.0000000e+00 0.0000000e+00 0.0000000e+00 6.1900000e+02 0.0000000e+00
 4.2000000e+01 2.0000000e+00 0.0000000e+00 1.0000000e+00 1.0000000e+00
 1.0000000e+00 1.0134888e+05]
[0.0000000e+00 0.0000000e+00 1.0000000e+00 6.0800000e+02 0.0000000e+00
 4.1000000e+01 1.0000000e+00 8.3807860e+04 1.0000000e+00 0.0000000e+00
 1.0000000e+00 1.1254258e+05]

In [51]:
X.shape

(10000, 12)

#### Test Train Splittig of Data

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

#### Feature Scaling

In [49]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#### Making the ANN model

In [50]:
ann = tf.keras.models.Sequential()

In [52]:
ann.add(tf.keras.layers.Dense(units=12, activation='relu'))
ann.add(tf.keras.layers.Dense(units=12, activation='relu'))
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid')) # for more than bianry classification, softmax is used

In [56]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy']) 
# for other than binary classification, it should be categorical_crossentropy

In [ ]:
ann.fit(X_train, y_train, batch_size=32, epochs=200)

Epoch 1/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3025 - accuracy: 0.8756
Epoch 2/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3028 - accuracy: 0.8744
Epoch 3/200
250/250 [==============================] - 1s 2ms/step - loss: 0.3022 - accuracy: 0.8741
Epoch 4/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3025 - accuracy: 0.8746
Epoch 5/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3033 - accuracy: 0.8739
Epoch 6/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3029 - accuracy: 0.8761
Epoch 7/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3030 - accuracy: 0.8725
Epoch 8/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3031 - accuracy: 0.8754
Epoch 9/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3028 - accuracy: 0.8744
Epoch 10/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3030 - accuracy: 0.8751
Epoch 11/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3035 - accuracy: 0.8766
Epoch 12/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3025 - accuracy: 0.8759
Epoch 13/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3031 - accuracy: 0.8760
Epoch 14/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3019 - accuracy: 0.8758
Epoch 15/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3030 - accuracy: 0.8748
Epoch 16/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3021 - accuracy: 0.8741
Epoch 17/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3029 - accuracy: 0.8744
Epoch 18/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3022 - accuracy: 0.8759
Epoch 19/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3020 - accuracy: 0.8773
Epoch 20/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3024 - accuracy: 0.8759
Epoch 21/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3024 - accuracy: 0.8754
Epoch 22/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3026 - accuracy: 0.8745
Epoch 23/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3031 - accuracy: 0.8759
Epoch 24/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3025 - accuracy: 0.8736
Epoch 25/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3022 - accuracy: 0.8748
Epoch 26/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3028 - accuracy: 0.8748
Epoch 27/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3025 - accuracy: 0.8751
Epoch 28/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3027 - accuracy: 0.8740
Epoch 29/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3022 - accuracy: 0.8751
Epoch 30/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3023 - accuracy: 0.8750
Epoch 31/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3026 - accuracy: 0.8748
Epoch 32/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3021 - accuracy: 0.8735
Epoch 33/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3021 - accuracy: 0.8748
Epoch 34/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3024 - accuracy: 0.8749
Epoch 35/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3026 - accuracy: 0.8742
Epoch 36/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3025 - accuracy: 0.8763
Epoch 37/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3025 - accuracy: 0.8749
Epoch 38/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3024 - accuracy: 0.8766
Epoch 39/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3030 - accuracy: 0.8742
Epoch 40/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3017 - accuracy: 0.8761
Epoch 41/200
250/250 [==============================] - 0s 2ms/step - loss: 0.3023 - accuracy: 0.8749
Epoch 42/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3022 - accuracy: 0.8745
Epoch 43/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3022 - accuracy: 0.8752
Epoch 44/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3023 - accuracy: 0.8758
Epoch 45/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3025 - accuracy: 0.8756
Epoch 46/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3019 - accuracy: 0.8780
Epoch 47/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3025 - accuracy: 0.8777
Epoch 48/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3019 - accuracy: 0.8760
Epoch 49/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3020 - accuracy: 0.8750
Epoch 50/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3023 - accuracy: 0.8744
Epoch 51/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3020 - accuracy: 0.8742
Epoch 52/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3025 - accuracy: 0.8774
Epoch 53/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3020 - accuracy: 0.8758
Epoch 54/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3029 - accuracy: 0.8770
Epoch 55/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3030 - accuracy: 0.8744
Epoch 56/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3026 - accuracy: 0.8746
Epoch 57/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3021 - accuracy: 0.8764
Epoch 58/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3018 - accuracy: 0.8763
Epoch 59/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3023 - accuracy: 0.8733
Epoch 60/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3027 - accuracy: 0.8761
Epoch 61/200
250/250 [==============================] - 0s 1ms/step - loss: 0.3020 - accuracy: 0.8742
Epoch 62/200
  1/250 [..............................] - ETA: 0s - loss: 0.3401 - accuracy: 0.8125

#### Predicting values

In [58]:
ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))

array([[0.01288351]], dtype=float32)

In [62]:
y_pred = ann.predict(X_test)
y_pred = (y_pred>0.4)
print(y_pred)

[[ True]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

In [66]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
print(accuracy_score(y_test, y_pred))

[[1433  156]
 [ 162  249]]
0.841